<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.eric.rss"
    android:installLocation="auto"
    android:versionCode="6"
    android:versionName="1.05" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="11" />

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="cn.eric.rss.READFEEDS"
        android:description="@string/permission_readfeeds_description"
        android:label="@string/permission_readfeeds"
        android:protectionLevel="normal" />
    <permission
        android:name="cn.eric.rss.WRITEFEEDS"
        android:description="@string/permission_writefeeds_description"
        android:label="@string/permission_writefeeds"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:testOnly="false"
        android:theme="@style/Theme.Sherlock" >
        <service android:name="cn.eric.rss.service.RefreshService" />
        <service android:name="cn.eric.rss.service.FetcherService" />

        <provider
            android:name="cn.eric.rss.provider.FeedDataContentProvider"
            android:authorities="cn.eric.rss.provider.FeedData"
            android:readPermission="cn.eric.rss.READFEEDS"
            android:writePermission="cn.eric.rss.WRITEFEEDS" />

        <activity android:name="cn.eric.rss.FeedPrefsActivity" />
        <activity
            android:name="cn.eric.rss.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.eric.rss.RSSOverview"
            android:launchMode="singleTask" />
        <activity android:name="cn.eric.rss.EmptyActivity" />
        <activity
            android:name="cn.eric.rss.EntriesListActivity"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.feeddata.entry" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.eric.rss.EntryDetailActivity"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.feeddata.entry" />
            </intent-filter>
        </activity>
        <activity android:name="cn.eric.rss.ApplicationPreferencesActivity" />
        <activity android:name="cn.eric.rss.widget.WidgetConfigActivity" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.eric.rss.FeedConfigActivity"
            android:theme="@style/Theme.Dialog" >
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.feeddata.feed" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.feeddata.feed" />
            </intent-filter>
        </activity>

        <receiver android:name="cn.eric.rss.widget.MiniRSSAppWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="cn.eric.rss.FEEDUPDATED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgetinfo" />
        </receiver>
        <receiver android:name="cn.eric.rss.RefreshBroadcastReceiver" >
            <intent-filter>
                <action android:name="cn.eric.rss.REFRESH" />
            </intent-filter>
        </receiver>
        <receiver android:name="cn.eric.rss.BootCompletedBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="514021d95270157d0f0000b7" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="develop" />

        <service
            android:name="com.umeng.common.net.DownloadingService"
            android:exported="true"
            android:process=":DownloadingService" >
        </service>

        <!-- 声明Mogo的Activity -->
        <activity
            android:name="com.adsmogo.adview.AdsMogoWebView"
            android:label="@string/app_name" >
        </activity>
        <!-- 注册Service，应用下载所需 -->
        <service
            android:name="com.adsmogo.controller.service.UpdateService"
            android:exported="true"
            android:process=":remote" />
        <!-- 注册Service，应用被安装所用 -->
        <service
            android:name="com.adsmogo.controller.service.CountService"
            android:exported="true"
            android:process=":remote" />

        <!-- 声明多盟的Activity -->
        <activity
            android:name="cn.domob.android.ads.DomobActivity"
            android:theme="@android:style/Theme.Translucent" />

        <!-- 声明AdChina的Activity -->
        <activity
            android:name="com.adchina.android.ads.views.AdBrowserView"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.adchina.android.ads.views.FullScreenAdActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.adchina.android.ads.views.NomalVideoPlayActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
    </application>

</manifest>